{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/">
    <div class="form-group">
      <label for="author">author name</label>
      <input name="author" type="text" class="form-control"/>

      <label for="email">author email</label>
      <input name="email" type="text" class="form-control"/>

      <label for="title">page title</label>
      <input name="title" type="text" class="form-control"/>

      <label for="content">content</label>
      <input name="content" type="text" class="form-control"/>

      <label for="tags">tags</label>
      <input name="tags" type="text" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
{% endblock %}
